<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="background-animation"></div>
    <div class="system-window">
        <h1>Přihlášení</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Uživatelské jméno" required><br>
            <input type="password" name="password" placeholder="Heslo" required><br>
            <button type="submit" class="glow-btn">Přihlásit se</button>
        </form>
        <br><p>Nemáš ještě účet? <a href="{{ url_for('register') }}" class="glow-link">Zaregistruj se zde!</a></p>
    </div>
</body>
</html>
